<div class="about-main">
  <h2>MyTweet</h2>
  <p>
    Progateで学習したRuby on railsをローカル開発してみました。<br>
    じっさい運営しているサービスではありません。<br>
    新規登録・ログイン・ログアウト・投稿・ユーザー＆投稿一覧を紐づく・投稿者のみ編集できる<br>いいね・パスワードの暗号化機能を実装しました。<br>よかったら試してみてください。<br>email:azagaza02shu@gmail.com ユーザー名：aomushi pw:Junka1974
  </p>
  <img class="about-img" src="/tweets.png">
</div>

   
